<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Houston, we have a problem - {{@blog.title}}</title>
    {{> meta}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/uno.css"}}" />
    {{ghost_head}}
  </head>
  <body {{#if @blog.cover}} style="background-image: url({{@blog.cover}})"{{/if}}>
    <article>
      <section>
        <div class="astro-wrap">
          <a class="astronaut" href="#" title="return to base"></a>
        </div>
        <div class="mayday">
          <h1>
          Page not found
          </h1>
        </div>
      </section>
    </article>
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/uno.js"}}"></script>
  </body>
</html>
